#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#wordcloud text {
  transition: transform 0.5s ease-in-out;
}

canvas {
  position: absolute;
  z-index: -1;
  display: block;
  opacity: 0.5;
  top: 0;
  left: 0;
}

input {
  background: white;
}