#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --c-white: white;
  --c-gray: #ccc;
}

/* WordCloud */

.word-add {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.word-add input {
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.word-add button {
  max-width: fit-content;
  margin: 0 auto;
  padding: 0.25rem 0.5rem;
  border-radius: 50rem;
}

#wordcloud text {
  transition: transform 0.5s ease-in-out;
}

canvas {
  position: absolute;
  z-index: -1;
  display: block;
  opacity: 0.5;
  top: 0;
  left: 0;
}

input#word {
  background: var(--c-white);
  border: 1px var(--c-gray) solid;
}

/* PillToggle */

.pill-toggle {
  display: inline-flex;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid var(--c-gray);
  color: black;
}

.pill-toggle input[type="radio"] {
  display: none; /* Hide the default radio buttons */
}

.pill-toggle label {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
  border-right: 1px solid #ccc;
  flex: 1;
  white-space: nowrap;
}

.pill-toggle label:last-child {
  border-right: none;
}

.pill-toggle input[type="radio"]:checked + label {
  background-color: green;
  color: white;
}

/* Dictionary */

.dictionary-list {
  list-style-type: none;
  padding: 1rem;
  text-align: left;
}

.dictionary-list li {
  padding: 0.25rem 0.5rem;
  border: 1px solid white;
  border-bottom: none;
}

.dictionary-list li:last-child {
  border-bottom: 1px solid white;
}