#root {
  max-width: 1280px;
  margin: 0 auto;
  --c-purple: rgb(127, 100, 127);
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.notes {
  font-family: var(--font-rhythm);
  font-size: 2rem;
  border: 1px var(--c-purple) solid;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 0.5rem;
  height: 20rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1rem 0.5rem;
}

.notes .measure {
  display: flex;
  gap: 0.5rem;
  width: fit-content;
  line-height: 2rem;
  height: 2rem;
}

@media (min-width: 768px) {
  .notes {
    font-size: 2rem;
    height: 30rem;
  }
}