:root {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.9);
  background-color: #170017;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Rhythm";
  src: url("./fonts/Rhyth.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-kerning: normal;
}
