#custom-meter-modal form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 80vh;
  width: 80vw;
  position: relative;
}

#custom-meter-modal button {
  font-family: var(--font-text);
  width: 100%;
  position: absolute;
  bottom: 0;
}

.meter-input {
  display: flex;
  gap: 1rem;
}

.meter-input input {
  width: 2rem;
  text-align: center;
}

.meter-input select {
  font-family: 'Rhythm';
  font-size: 2rem;
}

.meter-input option {
  font-family: 'Rhythm';
}

.meter-display .meter {
  font-family: 'Meter';
  font-size: 3rem;
  padding-left: 1rem;
  text-align: center;
}

.meter-display .shift-left {
  position: relative;
  right: 0.35rem;
}