.time-sig {
  font-family: var(--font-meter);
  font-size: 2rem;
  line-height: 2rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.num, .den {
  line-height: 1rem;
}