.dictionary-wrapper {
  margin-top: 2rem;
}

.dictionary-search {
  margin-left: 0.5rem;
  padding: 0.25rem;
}

.dictionary-list {
  list-style-type: none;
  padding: 1rem;
  text-align: left;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

.dictionary-list li {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--c-white);
  border-bottom: none;
}

.dictionary-list li:last-child {
  border-bottom: 1px solid var(--c-white);
}