.word-add {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.word-add input {
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.word-add button {
  max-width: fit-content;
  margin: 0 auto;
  padding: 0.25rem 0.5rem;
  border-radius: 50rem;
}

.error {
  color: var(--c-red);
  height: 1rem;
  margin: 0.25rem;
}

#wordcloud:hover {
  cursor: pointer;
}

#wordcloud text {
  transition: transform 0.5s ease-in-out;
}

#wordcloud text.upvote::after {
  content: 'up';
  color: white;
}

#wordcloud g svg {
  border-radius: 1rem;
}

#wordcloud g svg:hover {
  outline: 1px solid var(--c-lightblue);
  outline-offset: 0.25rem;
}

#wordcloud g svg:active {
  filter: invert();
}

input#word {
  background: var(--c-white);
  border: 1px var(--c-gray) solid;
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
}